.header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #ffa41c;
  box-sizing: border-box;
  padding: 0 50px;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.2s ease;
}
._hide {
  transform: scaleY(0);
}

.header__img {
  width: 60px;
  height: 60px;
}

.header__navigation-block {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 5px;
}
.header__navigation {
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
  padding: 10px 0;
  background: #ffa41c;
  transition: all 0.5s ease;
  transform: scaleX(1);
  transform-origin: right;
  max-height: 300px;
}
.header__nav-link {
  position: relative;
  height: 30px;
  color: white;
  font-size: 24px;
  line-height: 1.2;
  transition: all 0.2s ease;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #16b1e4;
  top: 30px;
  transition: all 0.2s ease;
}
.header__nav-link:hover {
  color: #16b1e4;
}
.header__nav-link:hover::before {
  width: 100%;
}



@media screen and (max-width: 1230px) {
  .header__navigation {
    column-gap: 20px;
  }
  .header__nav-img {
    margin: 0 30px 0 0;
  }
}
@media screen and (max-width: 1100px) {
  .header__navigation {
    max-width: 410px;
    max-height: 0;
    transform: scaleX(0);
  }
  .header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .header__img {
    display: none;
  }
  .header {
    justify-content: center;
    padding: 0 10px;
  }
  .header__navigation-block {
    flex-direction: column-reverse;
  }
  .header__navigation {
    justify-content: center;
    column-gap: 10px;
    transform-origin: center;
  }
}

.scale {
  transform: scaleX(1);
  max-height: 300px;
}
