/* стили блоков */
.why-are-we {
  background: rgb(22, 177, 228);
  box-sizing: border-box;
  padding: 50px 10px 0;
  color: #004864;
}

.why-are-we__content-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.why-are-we__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  color: white;
  cursor: default;
}

.why-are-we__card-block {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 0 -100px;
}

/* стили карточек */
.why-are-we__card {
  border: 5px solid #16b1e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 4px;
  min-height: 350px;
  background: #fff;
  transition: all .3s ease;
}

.why-are-we__card:hover {
  transform: translateY(20px);
}

.why-are-we__card-img {
  width: 35%;
}

.why-are-we__card-title {
  max-width: 250px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  cursor: default;
}

.why-are-we__card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  cursor: default;
}

@media (max-width: 850px) {
  .why-are-we__card-block {
    grid-template-columns: minmax(250px, 1fr);
    max-width: 500px;
  }

  .why-are-we__card-img {
    width: 25%;
  }

  .why-are-we__card-block {
    gap: 10px;
  }
}

@media (max-width: 500px) {}